
@font-face {
  font-family: 'OpenSans' ;
  src: url('Fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
}
@font-face {
  font-family:'Montserrat' ;
  src: url('Fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

body { 
    background-color: rgb(14, 41, 84);
}
h1 {
    font-family: 'Montserrat';
    font-weight: bold; 
    text-align: center;
    color: #2E8A99;
    font-size: 50px;
  }
  .small-text {
    text-align: left;
    color: azure;
    font-size: 18px;
    margin-top: 500px;
 }
 .body-text {
    text-align: left;
    color: azure;
    font-size: 16px;
    margin-top: 10px;
}
.flex-container
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  
    padding: 0;
    margin: 0;
    list-style: none;
}
.flex-item {
    padding: 10px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    line-height: 30px;
    color: white;
    font-weight: bold;
    font-family: 'OpenSans',sans-serif;
    font-size:30px;
    text-align:center;
  }
  .flex-child{
    padding: 0px;
    font-size:18px;
    font-family: 'OpenSans',sans-serif;
    font-weight:initial;
    text-align:center;
    margin: 0 auto;
    transform: translateY(10px);
  }
  .fixed-image{
    position: fixed;
    bottom: 0;
    left: 10px;
    z-index: 999;
  }
  #first-image img{
    width: 50px;
    transition: transform 0.2s ease-in-out;
  }
  #second-image img{
    width: 50px;
    transition: transform 0.2s ease-in-out;
  }
  #first-image:hover img{
    transform: translateY(-5px);
  }
  #second-image:hover img{
    transform: translateY(-5px);
  }
  #second-image{
    bottom: 60px;
  }
  .navbar{
    position: fixed;
    top:0;
    right:0;
    padding:10px;
    color:#fff;
    z-index: 1000;
    transition: opacity 0.3s ease;
    transition: transform 0.3s ease;
  }
  .navbar ul{
    list-style: none;
    display: flex;
  }
  .navbar li{
    margin-right: 10px;
  }
  .navbar a{
    font-family: 'OpenSans',sans-serif;
    text-decoration: none;
    color:#fff;
  }
  .navbar.hidden{
    opacity: 0;
    pointer-events: none;
  }
  .navbar.disappear{
    transform: translateX(-5000px);
  }
  .scrollable-text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    overflow: auto;
    height: 200px; /* Set the desired height for scrolling */
}
#about-section {
  position: relative;
  top: 500px; /* Adjust the height to control the space */
  transform: translateX(80px);

}
.about-text{
  font-family: 'OpenSans',sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: #fff;
}
.about-text-info{
  font-family: 'OpenSans',sans-serif;
  color: #fff;
  overflow: auto;
  font-size: 30px;
  max-width: 1500px;
  transform: translateX(500px);
}
.education-header{

  position: relative;
  top:800px;
  transform: translateX(80px);
}
.education-text{
  font-family: 'OpenSans',sans-serif;
  color: #fff;
  overflow: auto;
  font-size: 50px;
  max-width: 1500px;
  transform: translateX(500px);
}

.project-header{
position: relative;
font-family: 'OpenSans',sans-serif;
top:800px;
transform: translateX(80px);
}
.project-text{
  font-family: 'OpenSans',sans-serif;
  color: #fff;
  overflow: auto;
  font-size: 50px;
  max-width: 1500px;
  transform: translateX(500px);
}